.b1{
    background-color: rgb(201, 201, 36);
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 10px dashed chartreuse;
}
.b2{
    background-color: rgb(201, 201, 36);
    height: 200px;
    width: 300px;
    padding: 20px;
    border: 10px dashed chartreuse;
    box-sizing: border-box;
    margin: 20px;

}